<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="addBookSec">
        Book Title : <input type="text" name="bookTitle" id="bookTitle"><br>
        Author Name : <input type="text" name="bookAuthor" id="bookAuthor"><br>
        Book Price :<input type="text" name="bookPrice" id="bookPrice"><br>
        Book Rating :<input type="text" name="bookRating" id="bookRating"><br>
        Book Description : <input type="text" name="bookDescription" id="bookDescription"><br>
        <button id="addBookBtn" onclick="addBookFun(event)">Add Book</button>
    </div>
</body>

</html>